*.jl.cov
*.jl.*.cov
*.jl.mem

Manifest.toml

deps/deps.jl

.ftpconfig
.DS_Store
.vscode
.idea/*

demos/*.jld2
demos/*.h5
demos/.ipynb_checkpoints
demos/*.mp4
demos/*.png
demos/*.ipynb

docs/build/
docs/site/
docs/src/generated
